@import '../../common/styles.css';

.main-nav {
  background-color: #f8f8f8;
  padding: 10px 0;
}

.main-nav ul {
  justify-content: space-around;
}

@media (max-width: 768px) {
  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }
}
